.clear {
  clear: both;
}
.player {
  box-shadow: 0 0 1px #666;
  margin: 20px 0;
  border-radius: 3px;
  position: relative;
  color: #666;
  font-weight: bold;
}
.player:hover {
  box-shadow: 0 0 3px #666;
}
.player .audio {
  height: 50px;
  line-height: 50px;
  float: left;
}
.player .audio audio {
  margin: 9px 0;
}
.player .title {
  margin: 0 10px;
  float: left;
  line-height: 50px;
}
.player .info {
  line-height: 50px;
  position: absolute;
  height: 50px;
  right: 0;
  margin-right: 10px;
}
.player .info span {
  margin: 5px;
  cursor: pointer;
}
.player .playlist {
  line-height: 50px;
  position: absolute;
  right: 130px;
}
.image-autor {
  width: 100%;
  height: auto;
  box-shadow: 0 0 1px;
}
.block {
  box-shadow: 0 0 1px #666;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  line-height: 70px;
  text-align: center;
  position: relative;
}
.block a {
  display: block;
}
.block:hover {
  box-shadow: 0 0 3px #666;
}
.deletePlaylist {
  position: absolute;
  cursor: pointer;
  right: 10px;
  line-height: 0;
  display: none;
}
.block:hover>.deletePlaylist {
  display: block;
}
p {
  color: #666;
}
