.row
	.col-md-4
		img(src="{{autor.image}}", alt="" class="image-autor")
	.col-md-8
		table.table
			tbody
				td
					h1 {{autor.name}}
			tr
				td 
					|  Lorem ipsum dolor sit amet.
			tr
				td 
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint minima, sit, eos eius mollitia laborum earum. Doloribus, eligendi, voluptatem!
			tr
				td
					|  Lorem ipsum.
			tr
				td 
					|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eaque rem, eius sapiente alias esse veniam similique maxime omnis, laborum distinctio iusto necessitatibus quam, numquam repudiandae! Consequatur beatae qui amet.
			tr
				td
					|  Lorem ipsum dolor sit amet, consectetur adipisicing.
.row
	div(ng-repeat="content in music" class="player")
		.audio
			audio(controls preload="none")
				source(src="{{content.src}}" type="audio/mp3")
		.title
			a(ui-sref="autor({id: content.autorId})"){{content.autor}} 
			a(href="" class="small")
				| ({{content.album}}) 
			| - {{content.title}}
		.info
			span(ng-if="content.like")
				span(class="glyphicon glyphicon-heart" aria-hidden="true" ng-click="removeLike(content.id)")
			span(ng-if="!content.like")
				span(data-placement="top" title="Подобається" class="glyphicon glyphicon-heart-empty" aria-hidden="true" ng-click="addLike(content.id)")
			span(ng-if="!content.myMusic")
				span(data-placement="top" title="Додати в мої аудіозаписи" class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" ng-click="addAudio(content.id)")
			span(ng-if="content.myMusic")
				span(class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="removeAudio(content.id)")
		.clear